
#ingredient-input {
  width: 50%;
}

#calculator {
  width: 500px;
}

.input-wrapper {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #185875;
}

.input-wrapper label {
  float: right;
  color: #BBB;
}

.input-wrapper input:focus {
    outline: none;
}

.input-wrapper input[type=text], .input-wrapper input[type=number] {
  width: 75%;
  border: none;
  float: left;
  background: none;
  line-height: 35px;
  font-size: 14px;
}

.input-wrapper input[type=submit] {
  width: 100%;
  background: #323C50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-wrapper input[type=submit]:hover {
  background: #185875;
}

.ingredient-name-row {
  border-top: 1px solid #BBB;
  text-align: left;
}

.ingredient-name-row div {
  line-height: 0;
}
